<header class="header container">
    
  <div class="header__top">
    
    <div class="header__left">
      
      <ul class="nav-link">
        <li class="nav-link__item"><a class="nav-link__link" href="#">О компании</a></li> 
        <li class="nav-link__item"><a class="nav-link__link" href="#"> Объекты</a></li> 
        <li class="nav-link__item"><a class="nav-link__link" href="#">Доставка и оплата</a></li> 
        <li class="nav-link__item"><a class="nav-link__link" href="#">Контакты</a></li> 
      </ul>

    </div>

    <div class="header__info-block info-group">
      <span class="info-group__item">
        <span class="info-group__icon icon-clock-red"></span>
        пн.-пт. 8.00-18.00
      </span>

      <a class="info-group__item" href="mailto:zakaz@iss-gk.ru">
        <span class="info-group__icon icon-mail-red"></span>
        zakaz@iss-gk.ru
      </a>

      <a class="info-group__item info-group__item_bold" href="tel:74995538140">
        <span class="info-group__icon icon-tel-red"></span>
        +7 499 553-81-40
      </a>
    </div>

  </div>
  
  <div class="header__bottom">

    <div class="header__left">
      <a href="#" class="brand">
        <div class="brand__img"><img src="./img/logo.png" alt="ИНЖЕНЕРНЫЕ И СТРОИТЕЛЬНЫЕ СИСТЕМЫ"></div>
        <div class="brand__text">ИНЖЕНЕРНЫЕ <br> И СТРОИТЕЛЬНЫЕ СИСТЕМЫ</div>
      </a>  
    </div>

    <div class="header__right calculate-cost">
      <div class="calculate-cost__text"><b>Удешевим смету</b> на инженерную <br>продукцию на 15-20%</div>
      <div class="calculate-cost__icon"><span class="icon-red-arrow"></span></div>
      <button class="btn btn-calc">рассчитать заявку</button>
    </div>
  </div>
</header>

<nav class="navigation">
  <div class="container">
    <div class="row">
      <div class="navigation__menu">
        <ul class="menu">
          <li class="menu__item"><a class="menu__link" href="#">каталог продукции</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Сферы применения</a></li>
          <li class="menu__item"><a class="menu__link" href="#">производители</a></li>
        </ul>
      </div>

      <div class="navigation__action">
        <div class="action-icon-group">
          <a class="action-icon-group__item" href="#" title="Поиск"><span class="icon-white-search"></span></a>
          <a class="action-icon-group__item" href="#" title="Корзина"><span class="icon-white-cart"></span></a>
          <a class="action-icon-group__item" href="#" title="Контакты"><span class="icon-white-people"></span></a>
        </div>
      </div>
    </div>
  </div>
</nav>